{% extends "app/base.html" %}
{% load static %}
{% block content %}

<header>
	<div class="container" style="height: 375px;>
		<div class="row">
			<div class="header-content">
                <div class="header-content-inner" >
					<h1>How it works</h1>
				</div>
			</div>
		</div>
	</div>
	<section id="features" class="features" style="background: white; color: black; padding: 100px 30px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-16">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Take outdoor pics on your smartphone</h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Upload them</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Get results!</h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Free to use and store analyzed photos</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</header>
	
{% endblock %}
