{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Aerolyzer</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/device-mockups/device-mockups.min.css' %}">

    <!-- Theme CSS -->
    <link href="{% static 'css/new-age.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Aerolyzer</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="page-scroll" href="../app/">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../app/about">How it works</a>
                    </li>
					<li>
                        <a class="page-scroll" href="../app/faq">FAQ</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
				{% if not user.is_authenticated %}
                    <li>
                        <div class="form-group" style="color: red;">
							{% if form.errors %} 
								Didn't match! Try again 
							{% endif %}
							<form class="form" style="display: inline-block;" method="post" action="../app/gallery" id="login-nav">{% csrf_token %}
                                <label class="sr-only" for="id_email">{{ form.email }}</label>
                                <input type="email" class="navbar-form form-control-static" id="id_email" placeholder="Email address" required>
                                <label class="sr-only" for="id_password">{{ form.password }}</label>
                                <input type="password" class="navbar-form form-control-static" id="id_password" placeholder="Password" required>
                                <button type="submit" class="btn btn-outline btn-group-lg  page-scroll" value ="Login">Log in</button>
							</form>
							<form class="form" style="display: inline-block;" action="../app/signup">
                                <button class="btn btn-outline btn-group-lg  page-scroll">Sign up</button>
							</form>
                        </div>
                    </li>
				{% endif %} 
				{% if user.is_authenticated %}
					<div class="dropdown" style="position: relative; display: inline-block;">
						<button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown">
						<h4> {{ user.get_username }} </h4>
						</button>
						<div class="dropdown-menu" style="position: absolute; color: black; padding: 10px;">
							<h4>
								<a class="dropdown-item" style="color: black;" href="../app/upload">Upload</a>
								<br> <br>
								<a class="dropdown-item" style="color: black;" href="../app/gallery">Gallery</a>
								<br> <br>
								<a class="dropdown-item" style="color: black;" href="../app/profile">Profile</a>
								<br> <br>
								<a class="dropdown-item" style="color: black;" href="../app/logout/">Logout</a>
							</h4>
						</div>
					</div>
				{% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
	{% block content %}
    {% endblock %}
	
	<footer>
        <div class="container">
            <center><img src="{% static 'img/OSU-logo-reversed.png' %}" height="75" width="150" class="img-responsive" alt="Oregon State Capstone Project"></center>
            <br>
            <p>&copy; 2017 Aerolyzer</p>
            <ul class="list-inline">
                <li>
                    <a href="https://github.com/Aerolyzer/Aerolyzer/">GitHub</a>
                </li>
                <li>
                    <a href="https://groups.google.com/forum/#!forum/aerolyzer">Mailing list</a>
                </li>
                <li>
                    <a href="mailto:aerolyzer@googlegroups.com">Contact</a>
                </li>
            </ul>
        </div>
    </footer>
	
	<!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/new-age.min.js' %}"></script>
</html>