{% extends "app/base.html" %}
{% load static %}
{% block content %}

<header>
	<div class="container" style="height: 375px;>
		<div class="row">
			<div class="header-content">
                <div class="header-content-inner" >
					<h1>Profile</h1>
				</div>
			</div>
		</div>
	</div>
    <section id="download" class="download bg-primary text-center" style="background: white; padding: 50px 50px 50px;">
        <div class="container" style="color: black; text-align: left;">
			
		</div>
    </section>
</header>
	
{% endblock %}