{% extends "app/base.html" %}
{% load static %}
{% block content %}

<header>
	<div class="container" style="height: 375px;">
		<div class="row">
			<div class="header-content">
                <div class="header-content-inner" >
					<h1>Retrieve data</h1>
				</div>
			</div>
		</div>
	</div>
    <section id="download" class="download bg-primary text-center" style="background: white; color: black; text-align: left; padding: 50px 50px 50px;">
			<div class="container" style="color: black; text-align: left;">
				{% if error_message %}
					<h3>Error: unable to retrieve <strong> {{ error_message }} </strong> data.
						Sorry about that! <a href="../app/upload">Try again?</a></h3>
					<br> <br>
				{% else %}

					<div style="text-align: center;">
						<img src="{{ uploadedFileUrl }}" alt="{{ filename }}" style="max-height: 500px; max-width: 500px;" >
					</div>

					<h3>EXIF data</h3>
					<div class="container" style="color: black; text-align: left; border: 5px solid black;">
						{{ exifData }}
					</div>
					<h3>MISR (satellite) data</h3>
					<div class="container" style="color: black; text-align: left; border: 5px solid black;">
						{{ misrData }}
					</div>
					<h3>Wunderground (weather) data</h3>
					<div class="container" style="color: black; text-align: left; border: 5px solid black;">
						{{ wunderData }}
					</div>

					{% if not all_clear %}
						<form method="post" action="../app/retrieve"> {% csrf_token %}
							<div style="text-align: center;">
								<br> <br>
								<button class="btn btn-outline btn-group-lg  page-scroll">Start</button>
							</div>
						</form>
					{% endif %}

					{% if all_clear %}
						<form method="post" action="../app/results"> {% csrf_token %}
							<div style="text-align: center;">
								<br> <br>
								<button class="btn btn-outline btn-group-lg  page-scroll">Analyze!</button>
							</div>
						</form>
					{% endif %}
				{% endif %}
			</div>
    </section>
</header>

{% endblock %}
